@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');

* {
    font-family: 'Bitter', serif;
    color:white;
    font-size:26px;
    
}

body {
    margin-top:100px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
    width:600px;
    border-radius:25px;
    height:600px;
    align-items:center;
    display:flex;
    border:5px solid white;
    flex-direction:column;
}

.calculatorLabel {
    margin-top:10px;
    height:fit-content;
    width:fit-content;
}

.resultsContainer {
    border:1px solid white;
    border-radius:15px;
    width:500px;
    display:flex;
    justify-content:flex-end;
    padding-right:50px;
    margin-top:25px;
} 

.numberContainer {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:20px;
    margin-top:20px;
    
}

.numberContainer button {
    width:130px;
    height:80px;
    background-color:transparent;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:15px;
    margin-left:20px;
    margin-right:20px;
}

