@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');

* {
    font-family: 'Bitter', serif;
    color:white;    
}

body {
    margin-top:100px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background: #fcb31b
}

.container {
    width:300px;
    border-radius:1rem;
    align-items:center;
    display:flex;
    box-shadow:5px 5px 12px rgba(0,0,0,0.5);
    background-color:#212121;
    flex-direction:column;
    justify-content:space-between;
}

.resultsContainer {
    border:none;
    border-radius:15px;
    width:200px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding-right:25px;
    margin-top:25px;
    overflow: hidden; 
    font-size:12px;  
    white-space: nowrap; 
    text-overflow: ellipsis;
    background-color:#616161;
} 

.numberContainer {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:10px;
    margin-top:10px;
    margin-bottom:20px;
    padding:20px;
}

.numberContainer button {
    border:none;
    background-color:#616161;
    font-size:1.325rem;
    padding:10px;
    border-radius:50%;
    font-weight:700;
    cursor:pointer;
    width: 50px; /* Adjust the width to your desired button size */
    height: 50px; /* Adjust the height to your desired button size */
}

.numberContainer button:active {
    transform:scale(.98);
}

#delete {
    width:200px;
    border-radius:25px;
}

#zero {
    width:120px;
    border-radius:25px;
}

#result {
    overflow:hidden;
    height:2em;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height:1.75em;
    font-size:20px;
}
