@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap');

* {
    font-family: 'Bitter', serif;
    color:white;
    font-size:20px;
    
}

body {
    margin-top:100px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(94,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
    width:500px;
    border-radius:25px;
    height:700px;
    align-items:center;
    display:flex;
    border:5px solid white;
    flex-direction:column;
    justify-content:space-between;
    gap:5px;
}

.calculatorLabel {
    margin-top:10px;
    height:40xp;
    width:fit-content;
}

.resultsContainer {
    border:1px solid white;
    border-radius:15px;
    width:400px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding-right:50px;
    margin-top:25px;
    overflow: hidden;   
    white-space: nowrap; 
    text-overflow: ellipsis;
} 

.numberContainer {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    gap:30px;
    margin-top:10px;
    margin-bottom:20px;
    padding:20px;
}

.numberContainer button {
    background-color:transparent;
    width:80px;
    padding:10px;
    border-radius:10px;
    border-radius:15px;
}

#delete {
    width:290px;
}

#zero {
    width:210px;
}

#result {
    overflow:hidden;
    height:1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height:26px;
}
